Создание переменных

In [1]:
import pandas as pd
import numpy as np

In [2]:
bikes = pd.read_csv('BikeData.csv')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [3]:
bikes['Rental Count'] = bikes['Partner 1'] + bikes['Partner 2']

In [4]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97

In [5]:
del bikes['Partner 1'] # удаление коллонки

In [6]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,38,97

In [7]:
bikes = bikes.drop('Partner 2', axis = 1) # удаляем колонку при помощи pandas, указывая ее columns (1)

In [8]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97

Работа с датами

In [9]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Rental Count     8760 non-null   int64
dtypes: float64(4), int64(3), object(4)
memory usage: 752.9+ KB

In [10]:
pd.to_datetime(bikes['Date'], dayfirst=True) # меняем тип признака Date

0      2017-12-01
1      2017-12-01
2      2017-12-01
3      2017-12-01
4      2017-12-01
          ...
8755   2018-11-30
8756   2018-11-30
8757   2018-11-30
8758   2018-11-30
8759   2018-11-30
Name: Date, Length: 8760, dtype: datetime64[ns]

In [11]:
pd.to_datetime(bikes['Date'], dayfirst=True).dt.year # смотрим год

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
8755    2018
8756    2018
8757    2018
8758    2018
8759    2018
Name: Date, Length: 8760, dtype: int32

In [12]:
pd.to_datetime(bikes['Date'], dayfirst=True).dt.day # смотрим день

0        1
1        1
2        1
3        1
4        1
        ..
8755    30
8756    30
8757    30
8758    30
8759    30
Name: Date, Length: 8760, dtype: int32

In [13]:
pd.to_datetime(bikes['Date'], dayfirst=True).dt.month # смотрим месяц

0       12
1       12
2       12
3       12
4       12
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int32

In [14]:
bikes['Date'] = pd.to_datetime(bikes['Date'], dayfirst=True)

In [15]:
bikes[bikes['Date'].dt.month == 3].shape

(744, 11)

In [16]:
bikes[bikes['Date'].dt.day_name() == 'Sunday'].shape

(1248, 11)

Переменные True и False

###### Бинарная переменная - 1 способ

In [17]:
bikes['Functioning Day'] = bikes['Functioning Day'] == 'Yes'

In [18]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,True,97

###### Бинарная переменная - 2 способ

In [19]:
def currency_converter(rub):
    return round(rub / 74.73, 2)

print(currency_converter(1000))
amounts = [1000, 2000, 5000, 12345]
print(list(map(currency_converter, amounts)))
print(list(map(lambda rub: round(rub / 74.73, 2), amounts))) # анонимная функция

13.38
[13.38, 26.76, 66.91, 165.19]
[13.38, 26.76, 66.91, 165.19]

In [20]:
bikes['Holiday'].apply(lambda x : 1 if x == 'Holiday' else 0) # бинарность через apply

0       0
1       0
2       0
3       0
4       0
       ..
8755    0
8756    0
8757    0
8758    0
8759    0
Name: Holiday, Length: 8760, dtype: int64

In [21]:
bikes['Holiday'] = bikes['Holiday'].apply(lambda x : 1 if x == 'Holiday' else 0)

In [22]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97

In [23]:
bikes['Humidity'].apply(lambda x: 1 if x in range(40,61) else 0)

0       0
1       0
2       0
3       1
4       0
       ..
8755    0
8756    0
8757    0
8758    1
8759    1
Name: Humidity, Length: 8760, dtype: int64

In [24]:
bikes['Humidity'] = bikes['Humidity'].apply(lambda x: 1 if x in range(40,61) else 0)

In [25]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,2017-12-01,0,-5.2,0,2.2,0.0,0.0,Winter,0,True,257
1,2017-12-01,1,-5.5,0,0.8,0.0,0.0,Winter,0,True,219
2,2017-12-01,2,-6.0,0,1.0,0.0,0.0,Winter,0,True,162
3,2017-12-01,3,-6.2,1,0.9,0.0,0.0,Winter,0,True,148
4,2017-12-01,4,-6.0,0,2.3,0.0,0.0,Winter,0,True,97

Категориальные переменные из колличественных

In [26]:
def get_temp_cat(temp):
    if temp < 0:
        return 'Freesing'
    elif temp < 15:
        return 'Chilly'
    elif temp < 26:
        return 'Nice'
    elif temp >=26:
        return 'Hot'
    else:
        return temp

In [27]:
bikes['Temperature Category'] = bikes['Temperature'].apply(get_temp_cat)

In [28]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Temperature Category
0,2017-12-01,0,-5.2,0,2.2,0.0,0.0,Winter,0,True,257,Freesing
1,2017-12-01,1,-5.5,0,0.8,0.0,0.0,Winter,0,True,219,Freesing
2,2017-12-01,2,-6.0,0,1.0,0.0,0.0,Winter,0,True,162,Freesing
3,2017-12-01,3,-6.2,1,0.9,0.0,0.0,Winter,0,True,148,Freesing
4,2017-12-01,4,-6.0,0,2.3,0.0,0.0,Winter,0,True,97,Freesing

In [29]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Temperature Category  8581 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 761.5+ KB

In [30]:
bikes['Temperature Category'] = pd.Categorical(bikes['Temperature Category']) # меняем категорию

In [31]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Temperature Category  8581 non-null   category
dtypes: bool(1), category(1), datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 701.8+ KB

In [32]:
bikes['Temperature Category']

0       Freesing
1       Freesing
2       Freesing
3       Freesing
4       Freesing
          ...
8755      Chilly
8756      Chilly
8757      Chilly
8758      Chilly
8759      Chilly
Name: Temperature Category, Length: 8760, dtype: category
Categories (4, object): ['Chilly', 'Freesing', 'Hot', 'Nice']

In [33]:
bikes['Temperature Category'].cat.codes # массив, закодированный числами

0       1
1       1
2       1
3       1
4       1
       ..
8755    0
8756    0
8757    0
8758    0
8759    0
Length: 8760, dtype: int8

In [34]:
bikes['Temperature Category'].cat.categories # категории

Index(['Chilly', 'Freesing', 'Hot', 'Nice'], dtype='object')

Переменная с несколькими основными переменными

In [35]:
bikes['Good Weather'] = np.where((bikes['Temperature Category'] == 'Nice') & (bikes['Humidity'] == 1) & (bikes['Wind speed'] <= 5.4) & (bikes['Snowfall'] == 0) & (bikes['Rainfall'] == 0), 1, 0)

In [36]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Temperature Category,Good Weather
0,2017-12-01,0,-5.2,0,2.2,0.0,0.0,Winter,0,True,257,Freesing,0
1,2017-12-01,1,-5.5,0,0.8,0.0,0.0,Winter,0,True,219,Freesing,0
2,2017-12-01,2,-6.0,0,1.0,0.0,0.0,Winter,0,True,162,Freesing,0
3,2017-12-01,3,-6.2,1,0.9,0.0,0.0,Winter,0,True,148,Freesing,0
4,2017-12-01,4,-6.0,0,2.3,0.0,0.0,Winter,0,True,97,Freesing,0

In [37]:
bikes['Good Weather'].sum()

np.int64(812)

Cохранение DataFrame

In [42]:
bikes.to_csv('BikesDataVars.csv', index = False)
bikes.to_excel('BikesDataVars.xlsx', index = False)
df = pd.read_csv('BikesDataVars.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   object
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Temperature Category  8581 non-null   object
 12  Good Weather          8760 non-null   int64
dtypes: bool(1), float64(4), int64(5), object(3)
memory usage: 829.9+ KB

In [43]:
df = pd.read_excel('BikesDataVars.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Temperature Category  8581 non-null   object
 12  Good Weather          8760 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(5), object(2)
memory usage: 829.9+ KB

In [44]:
bikes.to_pickle('BikesDataVars.pkl')
df = pd.read_pickle('BikesDataVars.pkl')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Temperature Category  8581 non-null   category
 12  Good Weather          8760 non-null   int64
dtypes: bool(1), category(1), datetime64[ns](1), float64(4), int64(5), object(1)
memory usage: 770.1+ KB