In [2]:
import pandas as pd
import numpy as np

In [8]:
books = pd.read_csv("books.csv")
books.head()


book = 'books.csv'
books = pd.read_csv(book, index_col='Unnamed: 0', on_bad_lines='skip')
books.head()

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,title_ser,num_in_ser
0,Harry Potter and the Half-Blood Prince,J.K. Rowling/Mary GrandPré,4.57,eng,652.0,2095690,27591,9/16/2006,Scholastic Inc.,Harry Potter,6
1,Harry Potter and the Order of the Phoenix,J.K. Rowling/Mary GrandPré,4.49,eng,870.0,2153167,29221,9/1/2004,Scholastic Inc.,Harry Potter,5
2,Harry Potter and the Chamber of Secrets,J.K. Rowling,4.42,eng,352.0,6333,244,11/1/2003,Scholastic,Harry Potter,2
3,Harry Potter and the Prisoner of Azkaban,J.K. Rowling/Mary GrandPré,4.56,eng,435.0,2339585,36325,5/1/2004,Scholastic Inc.,Harry Potter,3
4,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,other,152.0,19,1,4/26/2005,Nimble Books,-,0

In [15]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10063 entries, 0 to 10062
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               10063 non-null  object
 1   authors             10063 non-null  object
 2   average_rating      8591 non-null   float64
 3   language_code       10063 non-null  object
 4   num_pages           8379 non-null   float64
 5   ratings_count       10063 non-null  int64
 6   text_reviews_count  10063 non-null  int64
 7   publication_date    10063 non-null  object
 8   publisher           9508 non-null   object
 9   title_ser           10063 non-null  object
 10  num_in_ser          10063 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 943.4+ KB

In [16]:
books.shape

(10063, 11)

In [11]:
books.columns

Index(['title', 'authors', 'average_rating', 'language_code', 'num_pages',
       'ratings_count', 'text_reviews_count', 'publication_date', 'publisher',
       'title_ser', 'num_in_ser'],
      dtype='object')

In [12]:
books[["authors", "language_code", "publication_date"]]

,authors,language_code,publication_date
0,J.K. Rowling/Mary GrandPré,eng,9/16/2006
1,J.K. Rowling/Mary GrandPré,eng,9/1/2004
2,J.K. Rowling,eng,11/1/2003
3,J.K. Rowling/Mary GrandPré,eng,5/1/2004
4,W. Frederick Zimmerman,other,4/26/2005
...,...,...,...
10058,William T. Vollmann/Larry McCaffery/Michael He...,eng,12/21/2004
10059,William T. Vollmann,eng,12/1/1988
10060,William T. Vollmann,eng,8/1/1993
10061,William T. Vollmann,eng,2/27/2007
10062,Mark Twain,other,5/28/2006

In [14]:
books["text_reviews_count"].head()

0    27591
1    29221
2      244
3    36325
4        1
Name: text_reviews_count, dtype: int64

In [18]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10063 entries, 0 to 10062
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               10063 non-null  object
 1   authors             10063 non-null  object
 2   average_rating      8591 non-null   float64
 3   language_code       10063 non-null  object
 4   num_pages           8379 non-null   float64
 5   ratings_count       10063 non-null  int64
 6   text_reviews_count  10063 non-null  int64
 7   publication_date    10063 non-null  object
 8   publisher           9508 non-null   object
 9   title_ser           10063 non-null  object
 10  num_in_ser          10063 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 943.4+ KB

In [19]:
books.columns

Index(['title', 'authors', 'average_rating', 'language_code', 'num_pages',
       'ratings_count', 'text_reviews_count', 'publication_date', 'publisher',
       'title_ser', 'num_in_ser'],
      dtype='object')