In [2]:
import pandas as pd
import numpy as np

In [3]:
marvel = pd.read_csv('MarvelComicCaracters (1).csv', sep = ';')
marvel.head()

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0

In [4]:
marvel['align'].value_counts()

align
Злой персонаж           6720
Добрый персонаж         4636
Нейтральный персонаж    2208
Name: count, dtype: int64

In [6]:
marvel['eye'].value_counts()

eye
Голубые глаза            1962
Темно-карие глаза        1924
Зеленые глаза             613
Черные глаза              555
Красные глаза             508
Белые глаза               400
Желтые глаза              256
Серые глаза                95
Карие глаза                76
Разноцветные глаза         49
Фиолетовые глаза           31
Оранжевые глаза            25
Розовые глаза              21
Один глаз                  21
Золотые глаза              14
Серебристые глаза          12
Лиловые глаза              11
Янтарные глаза             10
Много глаз                  7
Нет глаз                    7
Желтые глазные яблоки       6
Черные глазные яблоки       3
Пурпурные глаза             2
Фасеточные глаза            1
Name: count, dtype: int64

In [8]:
marvel[(marvel['sex'] == 'Мужской персонаж')]['eye'].mode()

0    Темно-карие глаза
Name: eye, dtype: object

In [9]:
marvel[(marvel['sex'] == 'Женский персонаж')]['eye'].value_counts()

eye
Голубые глаза            692
Темно-карие глаза        519
Зеленые глаза            268
Черные глаза             137
Белые глаза               82
Красные глаза             77
Желтые глаза              57
Серые глаза               20
Карие глаза               17
Фиолетовые глаза          14
Лиловые глаза              8
Разноцветные глаза         7
Серебристые глаза          6
Розовые глаза              5
Оранжевые глаза            5
Золотые глаза              3
Янтарные глаза             2
Желтые глазные яблоки      2
Черные глазные яблоки      2
Пурпурные глаза            2
Нет глаз                   1
Много глаз                 1
Один глаз                  1
Name: count, dtype: int64

In [14]:
marvel[(marvel['align'] == 'Добрый персонаж') & (marvel['eye'] == 'Пурпурные глаза')]

,name,align,eye,hair,sex,appearances,first_appearance
1729,Fireflyte (Earth-616),Добрый персонаж,Пурпурные глаза,Пурпурные волосы,Женский персонаж,21.0,1981.0

In [4]:
marvel['eye'].mode()

0    Голубые глаза
Name: eye, dtype: object

In [18]:
marvel[(marvel['first_appearance']== 1993)]['appearances']

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (33071158.py, line 1)

In [14]:
marvel[(marvel['sex'] == 'Женский персонаж')]['hair'].mode()

0    Черные волосы
Name: hair, dtype: object

In [15]:
marvel[(marvel['sex'] == 'Мужской персонаж')]['hair'].mode()

0    Черные волосы
Name: hair, dtype: object

In [17]:
marvel[(marvel['align'] == 'Злой персонаж')]['appearances'].median()

3.0

In [18]:
print(marvel['appearances'].var(ddof=0))

9287.139461896795

In [19]:
marvel['first_appearance'].mode()

0    1993.0
Name: first_appearance, dtype: float64

In [20]:
marvel['eye'][501:].mode()

0    Темно-карие глаза
Name: eye, dtype: object

In [21]:
marvel['eye'].mode()

0    Голубые глаза
Name: eye, dtype: object

In [22]:
marvel['hair'].mode()

0    Черные волосы
Name: hair, dtype: object

In [26]:
marvel_hair = marvel[marvel['hair'] == 'Черные волосы']

In [27]:
print(marvel_hair['appearances'].std(ddof=0))

94.13253937689935