In [12]:
import pandas as pd
import numpy as np

In [49]:
marvel = pd.read_csv('MarvelComicCaracters.csv', sep = ';')
marvel

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0
...,...,...,...,...,...,...,...
16371,Ru'ach (Earth-616),Злой персонаж,Зеленые глаза,Без волос,Мужской персонаж,NaN,NaN
16372,Thane (Thanos' son) (Earth-616),Добрый персонаж,Голубые глаза,NaN,Мужской персонаж,NaN,NaN
16373,Tinkerer (Skrull) (Earth-616),Злой персонаж,Черные глаза,NaN,Мужской персонаж,NaN,NaN
16374,TK421 (Spiderling) (Earth-616),Нейтральный персонаж,NaN,NaN,Мужской персонаж,NaN,NaN
16375,Yologarch (Earth-616),Злой персонаж,NaN,NaN,NaN,NaN,NaN

In [25]:
marvel['align'].value_counts()

align
Злой персонаж           6720
Добрый персонаж         4636
Нейтральный персонаж    2208
Name: count, dtype: int64

In [26]:
marvel['eye'].value_counts()

eye
Голубые глаза            1962
Темно-карие глаза        1924
Зеленые глаза             613
Черные глаза              555
Красные глаза             508
Белые глаза               400
Желтые глаза              256
Серые глаза                95
Карие глаза                76
Разноцветные глаза         49
Фиолетовые глаза           31
Оранжевые глаза            25
Розовые глаза              21
Один глаз                  21
Золотые глаза              14
Серебристые глаза          12
Лиловые глаза              11
Янтарные глаза             10
Много глаз                  7
Нет глаз                    7
Желтые глазные яблоки       6
Черные глазные яблоки       3
Пурпурные глаза             2
Фасеточные глаза            1
Name: count, dtype: int64

In [30]:
marvel.groupby('align')['eye'].value_counts()

align                 eye
Добрый персонаж       Голубые глаза            860
                      Темно-карие глаза        773
                      Зеленые глаза            188
                      Черные глаза             153
                      Белые глаза              107
                                              ...
Нейтральный персонаж  Много глаз                 2
                      Лиловые глаза              2
                      Розовые глаза              1
                      Серебристые глаза          1
                      Черные глазные яблоки      1
Name: count, Length: 66, dtype: int64

In [38]:
marvel['first_appearance'].value_counts()

first_appearance
1993.0    554
1994.0    485
1992.0    455
2006.0    381
2008.0    360
         ...
1952.0     26
1956.0     16
1957.0      7
1959.0      4
1958.0      2
Name: count, Length: 75, dtype: int64

In [41]:
marvel['appearances'].value_counts()

appearances
1.0       4810
2.0       2074
3.0       1419
4.0       1097
5.0        796
          ...
126.0        1
310.0        1
311.0        1
313.0        1
4043.0       1
Name: count, Length: 358, dtype: int64

In [42]:
male_characters_over_100 = marvel[(marvel['sex'] == 'Мужской персонаж') & (marvel['appearances'] > 100)]

In [54]:
marvel[(marvel['sex'] == 'Мужской персонаж') & (marvel['appearances'] > 100)].shape[0]

277

In [55]:
marvel[marvel['sex'] == 'Мужской персонаж'].shape[0]

11638

In [59]:
marvel[(marvel['align'] == 'Добрый персонаж') & (marvel['eye'] == 'Пурпурные глаза')]

,name,align,eye,hair,sex,appearances,first_appearance
1729,Fireflyte (Earth-616),Добрый персонаж,Пурпурные глаза,Пурпурные волосы,Женский персонаж,21.0,1981.0

In [60]:
marvel[(marvel['sex'] == 'Мужской персонаж') & (marvel['appearances'] > 100)].shape[0]

277