In [1]:
import pandas as pd
import numpy as np

In [3]:
star = pd.read_csv('StarWars.csv', sep = ';')
star

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится
...,...,...,...,...,...,...,...,...,...
1181,3288388730,да,да,Ж,18-29,0 - 24.999,Северо-Восточный центральный,очень нравится,нравится
1182,3288378779,да,да,Ж,30-44,50.000 - 99.999,Горный,очень нравится,очень нравится
1183,3288375286,нет,NaN,Ж,30-44,50.000 - 99.999,Средне-Атлантический,NaN,NaN
1184,3288373068,да,да,Ж,45-60,100.000 - 149.999,Северо-Восточный центральный,очень нравится,очень нравится
1185,3288372923,да,нет,Ж,> 60,50.000 - 99.999,Тихоокеанский,очень не нравится,очень нравится

In [12]:
star.loc[10:20]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
10,3292637870,да,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3292635062,нет,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3292609214,да,нет,М,18-29,25.000 - 49.999,Южно-Атлантический,очень нравится,нравится
13,3292596911,да,да,М,30-44,50.000 - 99.999,Горный,очень нравится,очень нравится
14,3292587240,да,да,М,18-29,NaN,Северо-Восточный центральный,очень нравится,очень нравится
15,3292583038,да,да,М,18-29,0 - 24.999,Юго-Западный центральный,нравится,нравится
16,3292580516,да,да,М,18-29,50.000 - 99.999,Новая Англия,очень не нравится,не нравится
17,3292572872,да,да,М,18-29,NaN,Средне-Атлантический,очень нравится,очень нравится
18,3292565282,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
19,3292562297,да,да,М,18-29,50.000 - 99.999,Северо-Западный центральный,очень нравится,очень нравится
20,3292522349,да,да,М,18-29,NaN,Тихоокеанский,очень нравится,нравится

In [20]:
star[star['loc'] == 'Горный'].shape

(79, 9)

In [17]:
star[star['loc'] == 'Южно-Атлантический'].shape

(170, 9)

In [21]:
star[star['loc'] == 'Юго-Восточный центральный'].shape

(38, 9)

In [22]:
star[star['loc'] == 'Тихоокеанский'].shape

(175, 9)

In [23]:
star[star['loc'] == 'Средне-Атлантический'].shape

(122, 9)

In [24]:
star[star['loc'] == 'Северо-Восточный центральный'].shape

(181, 9)

In [25]:
star[(star['age_group'] == '18-29') & (star['fan'] == 'нет') & (star['loc'] == 'Тихоокеанский')].shape

(19, 9)

In [52]:
star[star['yoda'].isna()].shape

(360, 9)

In [33]:
star[(star['princess_leia_organa'] == 'очень нравится') & (star['loc'] == 'Новая Англия')].shape

(39, 9)

In [36]:
star[(star['seen'] == 'нет') & (star['fan'] == 'да')].shape

(0, 9)

In [40]:
star[(star['loc'] == 'Горный') & (star['income'] == '150.000+')]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
169,3291077381,да,нет,М,45-60,150.000+,Горный,нравится,отношусь нейтрально
340,3290740448,да,да,Ж,45-60,150.000+,Горный,очень нравится,очень нравится
545,3290292697,да,да,Ж,45-60,150.000+,Горный,очень нравится,очень нравится
671,3289963393,да,да,Ж,> 60,150.000+,Горный,очень нравится,очень нравится
737,3289831274,нет,NaN,Ж,> 60,150.000+,Горный,NaN,NaN

In [42]:
star[(star['age_group'] == '45-60') & (star['fan'] == 'да')].shape

(154, 9)

In [43]:
star[(star['age_group'] == '18-29') & (star['fan'] == 'нет')].shape

(56, 9)

In [50]:
star[(star['fan'] == 'да') & (star['loc'] == 'Новая Англия') & (star['income'] == '0 - 24.999')].shape[0]

9

In [48]:
star

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится
...,...,...,...,...,...,...,...,...,...
1181,3288388730,да,да,Ж,18-29,0 - 24.999,Северо-Восточный центральный,очень нравится,нравится
1182,3288378779,да,да,Ж,30-44,50.000 - 99.999,Горный,очень нравится,очень нравится
1183,3288375286,нет,NaN,Ж,30-44,50.000 - 99.999,Средне-Атлантический,NaN,NaN
1184,3288373068,да,да,Ж,45-60,100.000 - 149.999,Северо-Восточный центральный,очень нравится,очень нравится
1185,3288372923,да,нет,Ж,> 60,50.000 - 99.999,Тихоокеанский,очень не нравится,очень нравится

In [54]:
star[(star['seen'].isna()) & (star['fan'].isna())].shape

(0, 9)

In [56]:
star[(star['fan'] == 'да') & (star['loc'] == 'Новая Англия') & (star['income'] == '0 - 24.999')].shape

(9, 9)